@tailwind base;
@tailwind components;
@tailwind utilities;


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: white;
    height: 100vh;
    font-family: 'inter', sans-serif;
    color: black;
}

/* Tab list should be horizontal */
.react-tabs__tab-list {
  display: flex;
  gap: 24px; /* spacing between tabs */
  border-bottom: 1px solid #e5e7eb; /* light gray bottom line */
  margin-bottom: 1rem;
  padding-left: 0;
  cursor: pointer;
  justify-content: center; /* optional: center align */
}

/* Normal tab */
.react-tabs__tab {
  list-style: none;
  padding: 8px 16px;
  border: none;
  border-bottom: 2px solid transparent;
  transition: all 0.3s ease;
  font-weight: 500;
  text-transform: capitalize;
}

/* Hover effect */
.react-tabs__tab:hover {
  color: #ef4444;
}

/* Active (clicked) tab */
.react-tabs__tab--selected {
  color: #ef4444; /* red text */
  border-bottom: 2px solid #ef4444 !important; 
  font-weight: 600;
}

/* input default icons black */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator,
select {
  color: black;
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(0deg);
}